<%- include('../estilos/estilos-generales')%>
<%- include('../componentes/cabecera')%>
<%- include('../componentes/nav-bar')%>
<row>
<div class="row" style="margin-left: 0px">
    <div id="divPadre" class="col-lg-12">
        <div id="divHijo"  class="col-lg-12">
            <a href="/autor/crear?usuario=<%=usuario%>&rol=<%=roles[0]%>">
                <button type="submit"> Crear un nuevo Autor</button>
            </a>
        </div>
        <div class="centerTable">
            <table>
                <tr>
                    <th>NOMBRE</th>
                    <th>NACIONALIDAD</th>
                    <th>DESCRIPCIÓN</th>
                    <th>IMAGEN</th>
                </tr>
                <% autores.forEach( (objeto)=>{ %>
                    <tr>
                        <td><%= objeto.nombre%></td>
                        <td><%= objeto.nacionalidad%></td>
                        <td><%= objeto.descripcion%></td>
                        <td><%= objeto.imagen%></td>
                        <td>
                            <a href="/autor/editar/<%=objeto.id%>?usuario=<%=usuario%>&rol=<%=roles[0]%>">
                                <button>EDITAR</button>
                            </a>
                            <form action="/autor/eliminar/<%= objeto.id%>?usuario=<%=usuario%>&rol=<%=roles[0]%>"
                                  method="POST">
                                <button type="submit">ELIMINAR</button>
                            </form>
                        </td>
                    </tr>
                <% } ) %>
            </table>
        </div>
        <a href="/libro/administracion?usuario=<%=usuario%>&rol=<%=roles[0]%>">
            <button type="button">IR A MENU ADMINISTRADOR</button>
        </a>
    </div>
</div>
</row>
<br/>

<div class="col-sm-12"><%- include('../componentes/pie-de-pantalla')%></div>