<%- include('../estilos/estilos-generales')%>
<%- include('../componentes/cabecera')%>
<%- include('../componentes/nav-bar')%>
<row>
<div class="row" style="margin-left: 30px">
    <div id="divPadre">
        <div id="divHijo">
            <form action="/autor/crear">
                <button type="submit"> Crear un nuevo Autor</button>
            </form>
        </div>
        <div class="centerTable">
            <table>
                <tr>
                    <th>NOMBRE</th>
                    <th>NACIONALIDAD</th>
                    <th>DESCRIPCIÓN</th>
                    <th>IMAGEN</th>
                </tr>
                <% autores.forEach( (objeto)=>{ %>
                    <tr>
                        <td><%= objeto.nombre%></td>
                        <td><%= objeto.nacionalidad%></td>
                        <td><%= objeto.descripcion%></td>
                        <td><%= objeto.imagen%></td>
                        <td>
                            <a href="/autor/editar/<%=objeto.id%>">
                                <button>EDITAR</button>
                            </a>
                            <form action="/autor/eliminar/<%= objeto.id%>"
                                  method="POST"
                            >
                                <button type="submit">ELIMINAR</button>
                            </form>
                        </td>
                    </tr>
                <% } ) %>
            </table>
        </div>
        <a href="/libro/administracion">
            <button type="button">IR A MENU ADMINISTRADOR</button>
        </a>
    </div>
</div>
</row>
<br/>

<div class="col-sm-12"><%- include('../componentes/pie-de-pantalla')%></div>