<%- include('../estilos/estilos-generales')%>
<%- include('../componentes/cabecera')%>
<%- include('../componentes/nav-bar')%>

<div class="row" style="margin-left: 30px">
    <div id="divPadre">
        <div id="divHijo">
            <form action="/categoria/crear?usuario=<%=usuario%>&rol=<%=roles[0]%>">
                <button type="submit"> Crear Categoria</button>
            </form>
        </div>
        <div class="centerTable">
            <row>
            <table>
                <tr>
                    <th>NOMBRE</th>
                </tr>
                <% categorias.forEach( (objeto)=>{ %>
                    <tr>
                        <td><%= objeto.nombre%></td>
                        <td style="width:500px">
                            <a href="/categoria/editar/<%=objeto.id%>">
                                <button>EDITAR</button>
                            </a>
                            <a href="/categoria/eliminar/<%= objeto.id%>">
                                <button>ELIMINAR</button>
                            </a>
                        </td>
                    </tr>
                <% } ) %>
            </table>
        </div>
        <a href="/libro/administracion?usuario=<%=usuario%>&rol=<%=roles[0]%>">
            <button type="button">IR A MENU ADMINISTRADOR</button>
        </a>

    </div>
</div>
<br/>
</row>
    <div class="col-sm-12"><%- include('../componentes/pie-de-pantalla')%></div>