<%- include('../estilos/estilos-generales')%>
<%- include('../componentes/cabecera')%>
<%- include('../componentes/nav-bar')%>
<div class="row" style="margin-left: 30px">
    <div id="divPadre">
        <div id="divHijo">
            <% if ( typeof error !== 'undefined') {%>
            <p> ERROR <%=error%></p>
            <%}%>
        </div>
        <div id="divHijo">
            <form action="/libros" method="get">
                <button>REGRESAR</button>
            </form>
        </div>
        <div id="divHijo" class="centerTable">
            <form action="/libro/crear"
                  method="POST">
                <table>
                    <tr>
                        <td><label for="ISBNID">ISBN:    </label></td>
                        <td><input id="ISBNID" type="text" name="ISBN" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="tituloID">Título:    </label></td>
                        <td><input id="tituloID" type="text" name="titulo"></td>
                    </tr>
                    <tr>
                        <td><label for="stockID">Stock:  </label></td>
                        <td><input id="stockID" type="text" name="stock"></td>
                    </tr>
                    <tr>
                        <td><label for="preciolID">Precio:  </label></td>
                        <td><input id="preciolID" type="text" name="precio"></td>
                    </tr>
                    <tr>
                        <td><label for="imagenID">imagen:    </label></td>
                        <td><input id="imagenID" type="text" name="imagen"></td>
                        <td>Ingresar el link a la imagen del libro</td>
                    </tr>
                    <tr>
                        <td><label for="autorID">autore:    </label></td>
                        <td>
                            <select class="form-control" id="autorID" name="autor">
                            <% autores.forEach( (objeto)=>{%>
                                    <option><%=objeto.nombre%></option>
                            <% } )%>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="categoriaID">categoria:    </label></td>
                        <td>
                            <select class="form-control" id="categoriaID" name="categoria">
                                <% categorias.forEach( (objeto)=>{%>
                                <option><%=objeto.nombre%></option>
                                <% } )%>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="descripciónID">descripción:    </label></td>
                        <td><input name="descripcion" id="descripciónID" type="text"></td>
                    </tr>
                </table>
                <div id="divHijo">
                    <br>
                    <button type="submit">CREAR</button>
                    <button type="reset">RESETEAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br/>

<div class="col-sm-12"><%- include('../componentes/pie-de-pantalla')%></div>