<%- include('../estilos/estilos-generales')%>
<%- include('../componentes/cabecera')%>
<%- include('../componentes/nav-bar')%>
<row>
<div class="row" style="margin-left: 30px">
    <div  class="col-lg-12" id="divPadre">
        <div id="divHijo">
            <a href="/libro/crear?usuario=<%=usuario%>&rol=<%=roles[0]%>">
                <button type="submit"> Crear un nuevo libro</button>
            </a>
        </div>
        <div class="centerTable">
            <table>
                <tr>
                    <th>ISBN</th>
                    <th>Título</th>
                    <th>Stock</th>
                    <th>Precio</th>
                </tr>
                <% libros.forEach( (objeto)=>{ %>
                    <tr>
                        <td><%= objeto.ISBN%></td>
                        <td><%= objeto.titulo%></td>
                        <td><%= objeto.stock%></td>
                        <td>$<%= objeto.precio%></td>
                        <td>
                            <a href="/libro/editar/<%=objeto.id%>?usuario=<%=usuario%>&rol=<%=roles[0]%>">
                                <button>EDITAR</button>
                            </a>
                            <form action="/libro/eliminar/<%= objeto.id%>" method="Post">
                                <button>ELIMINAR</button>
                            </form>
                        </td>
                    </tr>
                <% } ) %>
            </table>
        </div>
        <a href="administracion?usuario=<%=usuario%>&rol=<%=roles[0]%>">
            <button type="button">IR A MENU ADMINISTRADOR</button>
        </a>
    </div>
</div>
<br/>
</row>
<div class="col-sm-12"><%- include('../componentes/pie-de-pantalla')%></div>